<a [routerLink]="['/']">
  <h1>OmanSim</h1>

</a>
<div>
<a routerLink="/" class="button fancy-button2">
  <i class="material-icons">phone</i>Products
</a>
<a routerLink="/data" class="button fancy-button2">
  <i class="material-icons">phone</i>Data
</a>
</div>
<div>
<a routerLink="/login" class="button fancy-button">
  <i class="material-icons">person</i>Login
</a>
<a routerLink="/signup" class="button fancy-button">
  <i class="material-icons">person</i>Signup
</a>

<a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
